<%if @user %>
<h1>Hello and Welcome <%=@user.f_name%>
<%end%>
<h3>Nutrition Articles</h3>
<ul>
	<% @articles.each do |article| %>
	 	<li>
	 	Title: <a href="/articles/<%=article['id']%>"><%=article['title']%></a>
	 	</br>
	 	Date Published: <%=article['date_published']%>
	 	</br>
	 		<%author=article.user%>
	 	Author: <%=author.l_name%>, <%=author.f_name%>
	 	</li>
	 <%end%>
</ul>
<h3>Sort By Category:</h3>
<ul>
	<%@categories.each do |category|%>
	<li>
		<a href="/articles/sortby/<%=category.name%>"><%=category.name.capitalize%></a>
	</li>
	<%end%>
</ul>


<%if @user%>
<a href="/articles/new">Publish a new Article<a/>
<form action="/sessions" method="POST">
  <input type="hidden" name="_method" value="delete">
  <button>Log Out</button>
</form>
<%else%>
<h3>For more features please:</h3><a href="/login">Log In</a>
<%end%>