<div class="norm-background">
	<div class="article-container">
		<%if @user %>
			<h1>Welcome <%=@user.f_name%>!</h1>
		<%end%>
		<h2>Nutrition Articles</h2>
			<p>(In Alphabetical Order)</p>
			<ul>
				<% @sorted_articles.each do |article| %>
				 	<li class="preview">
				 	<a href="/articles/<%=article['id']%>">Title: <b><%=article['title']%></b>
				 	</br>
				 	Date Published: <%=article['date_published'].in_time_zone("America/New_York").strftime("%e %b %Y %H:%M:%S%p")%>
				 	</br>
				 	<%author=article.user%>
				 	Author: <%=author.l_name%>, <%=author.f_name%></a>
				 	</li>
				 <%end%>
			</ul>
	</div><!--end of div article-container-->
	<div class="sidebar">
		<div class="sidebar-content">
			<h4>Sort By:</h4>
				<h5>Category:</h5>
				<ul>
					<%@categories.each do |category|%>
					<li>
						<a href="/articles/sortby/<%=category.name%>"><%=category.name.capitalize%></a>
					</li>
					<%end%>
				</ul>
				<h5>Recently Updated:</h5>
				<ul>
					<li>
						<a href="/articles/recent">Recently Updated</a>
					</li>
				</ul>
			</div><!--end of sidebar content-->
		</div><!--end of div sidebar-->
		<div class="logout-button">
		<%if @user%>
			<form action="/sessions" method="POST">
			  <input type="hidden" name="_method" value="delete">
			  <button id="logout">Log Out</button>
			</form>
		<%end%>
		</div><!--end of logout-button div-->
		<div class="footer">
			<%if !@user%>
				<h3>For more features please:</h3>
				<a href="/login"> Log In</a>
			<%end%>
		</div><!--end div footer-->
</div><!--end div norm-background-->