<img src="<%=@article['img_url']%>">
<h1><%=@article['title']%></h1>
	<p><%= @article.to_html %></p>
<h4 id="author">By: <%=@article.user.f_name%> <%=@article.user.l_name%></h4>
<%if @user%>
<button id="contact-author">Contact Author</button>
<%end%>
<div class="modal-container author">
	<div class="modal-content">
		<button class="close authors">X</button>
		<div class="modal-info">
		<h3>Author Name: <%=@article.user.f_name%> <%=@article.user.l_name%></h3>
		<h3>E-mail: <%=@article.user.e_mail%></h3>
		</div><!--end of modal-info-->
	</div><!--end of modal-content-->
</div><!--end of modal-container-->
<h5 id="last-update">Last updated:<%=@article.edit_times.last.time%>   By User Name: <%=@article.edit_times.last.users.first.user_name%></h5>
<%if @user%>
<button id="contact-editor">Contact Recent Editor</button>
<%end%>
<div class="modal-container editor">
	<div class="modal-content">
		<button class="close editor">X</button>
		<div class="modal-info">
		<h3>Editor Name: <%=@article.edit_times.last.users.first.f_name%> <%=@article.edit_times.last.users.first.l_name%></h3>
		<h3>E-mail: <%=@article.edit_times.last.users.first.e_mail%></h3>
		</div><!--end of modal-info-->
	</div><!--end of modal-content-->
</div><!--end of modal-container-->
<h3>Categories:</h3>
<ul>
	<%@art_cats.each do |art_cat|%>
	<li><%=art_cat.name.capitalize%></li>
	<%end%>
</ul>
<%if @user%>
<a href ="/articles/<%=@article['id']%>/edit">Edit Article</a>
<button>Add A Category</button>
<form action="/articles/<%=@article['id']%>/edit/categories" method="POST">
	<label for="category">Create a New Category:</label>
	<input id="category" type="text" name="category">
	<label for="category-drop">Or Choose From an Already Existing Category:</label>
	<select id="category-drop"name="drop_down">
		<option value="" disabled selected>Select</option>
		<% @categories.each do |category| %>
		<option value="<%=category.name%>"><%=category.name.capitalize%></option>
		<%end%>
	</select>
	<input type="submit" value="Add Category">
</form>
<%end%>

<a href="/articles">Back to Articles</a>