<img src="<%=@article['img_url']%>">
<h1><%=@article['title']%></h1>
	<p><%=@article['content']%></p>
<h4>By: <%=@article.user.f_name%> <%=@article.user.l_name%></h4>

<a href="/articles">Back to Articles</a>